In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('House_price_prediction_data.csv')
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [11]:
df['SalePrice'].corr(df['LotFrontage'])

np.float64(0.3517990965706781)

In [8]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
df1 = df[['MSSubClass', 'MSZoning','LotFrontage','']]

In [ ]:
df['HouseStyle'] = df['HouseStyle'].map({'2Story': 8, '1Story':7, '1.5Fin':6, '1.5Unf':5, 'SFoyer':4, 'SLvl':3, '2.5Unf':2,
       '2.5Fin':1})   ## correlation with sale price is low

In [46]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
def encoding_values(df):
    encoded_cols = []

    object_cols = df.select_dtypes(include=['object']).columns

    for cols in object_cols:
        df[cols] = label.fit_transform(df[cols])
        encoded_cols.append(cols)
    return encoded_cols

    

df2 = df.copy()
encoding_values(df2)

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [31]:
df2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,2,3,3,0,...,0,3,4,4,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,2,3,3,0,...,0,3,4,4,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,2,0,3,0,...,0,3,4,4,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,2,0,3,0,...,0,3,4,4,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,2,0,3,0,...,0,3,4,4,0,12,2008,8,4,250000

In [34]:
def find_corr_encoded(df):
    high_corr_columns = []
    
    for col in df.columns:
          
        corr_value = df[col].corr(df['SalePrice'])
        
        # Check if absolute correlation is above threshold
        if abs(corr_value) > 0.3:
            high_corr_columns.append(col)
    
    return high_corr_columns

In [45]:
df2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,3,65.0,8450,1,2,3,3,0,...,0,3,4,4,0,2,2008,8,4,208500
1,2,20,3,80.0,9600,1,2,3,3,0,...,0,3,4,4,0,5,2007,8,4,181500
2,3,60,3,68.0,11250,1,2,0,3,0,...,0,3,4,4,0,9,2008,8,4,223500
3,4,70,3,60.0,9550,1,2,0,3,0,...,0,3,4,4,0,2,2006,8,0,140000
4,5,60,3,84.0,14260,1,2,0,3,0,...,0,3,4,4,0,12,2008,8,4,250000

In [12]:

def find_high_corr_with_price(df):
    
    numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
    high_corr_columns = []
    
    for col in numeric_cols:
          
        corr_value = df[col].corr(df['SalePrice'])
        
        # Check if absolute correlation is above threshold
        if abs(corr_value) > 0.5:
            high_corr_columns.append(col)
    
    return high_corr_columns

In [69]:
cols = find_high_corr_with_price(df)
cols.extend(['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition'])
print(cols )

['OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'FullBath', 'TotRmsAbvGrd', 'GarageCars', 'GarageArea', 'SalePrice', 'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [58]:
def correlated(df,cols):
    new_columns = []
    for col in cols:
        if df['SalePrice'].corr(df[col]) >0.2:
            new_columns.append(col)

    return new_columns

new_list = correlated(df1,cols)

In [74]:
df1 = df2[cols]
#df3 = df2[new_list]
df1.isna().sum()

OverallQual      0
YearBuilt        0
YearRemodAdd     0
TotalBsmtSF      0
1stFlrSF         0
GrLivArea        0
FullBath         0
TotRmsAbvGrd     0
GarageCars       0
GarageArea       0
SalePrice        0
MSZoning         0
Street           0
Alley            0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtCond         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinType2     0
Heating          0
HeatingQC        0
CentralAir       0
Electrical       0
KitchenQual      0
Functional       0
FireplaceQu      0
GarageType       0
GarageFinish     0
GarageQual       0
GarageCond       0
PavedDrive       0
PoolQC           0
Fence            0
MiscFeature      0
SaleType         0
SaleCondition    0
dtype: int64

In [75]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 53 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OverallQual    1460 non-null   int64
 1   YearBuilt      1460 non-null   int64
 2   YearRemodAdd   1460 non-null   int64
 3   TotalBsmtSF    1460 non-null   int64
 4   1stFlrSF       1460 non-null   int64
 5   GrLivArea      1460 non-null   int64
 6   FullBath       1460 non-null   int64
 7   TotRmsAbvGrd   1460 non-null   int64
 8   GarageCars     1460 non-null   int64
 9   GarageArea     1460 non-null   int64
 10  SalePrice      1460 non-null   int64
 11  MSZoning       1460 non-null   int64
 12  Street         1460 non-null   int64
 13  Alley          1460 non-null   int64
 14  LotShape       1460 non-null   int64
 15  LandContour    1460 non-null   int64
 16  Utilities      1460 non-null   int64
 17  LotConfig      1460 non-null   int64
 18  LandSlope      1460 non-null   int64
 19  Neighborhood   1460 non-null   int64
 20  Condition1     1460 non-null   int64
 21  Condition2     1460 non-null   int64
 22  BldgType       1460 non-null   int64
 23  RoofStyle      1460 non-null   int64
 24  RoofMatl       1460 non-null   int64
 25  Exterior1st    1460 non-null   int64
 26  Exterior2nd    1460 non-null   int64
 27  MasVnrType     1460 non-null   int64
 28  ExterQual      1460 non-null   int64
 29  ExterCond      1460 non-null   int64
 30  Foundation     1460 non-null   int64
 31  BsmtQual       1460 non-null   int64
 32  BsmtCond       1460 non-null   int64
 33  BsmtExposure   1460 non-null   int64
 34  BsmtFinType1   1460 non-null   int64
 35  BsmtFinType2   1460 non-null   int64
 36  Heating        1460 non-null   int64
 37  HeatingQC      1460 non-null   int64
 38  CentralAir     1460 non-null   int64
 39  Electrical     1460 non-null   int64
 40  KitchenQual    1460 non-null   int64
 41  Functional     1460 non-null   int64
 42  FireplaceQu    1460 non-null   int64
 43  GarageType     1460 non-null   int64
 44  GarageFinish   1460 non-null   int64
 45  GarageQual     1460 non-null   int64
 46  GarageCond     1460 non-null   int64
 47  PavedDrive     1460 non-null   int64
 48  PoolQC         1460 non-null   int64
 49  Fence          1460 non-null   int64
 50  MiscFeature    1460 non-null   int64
 51  SaleType       1460 non-null   int64
 52  SaleCondition  1460 non-null   int64
dtypes: int64(53)
memory usage: 604.7 KB

In [76]:
X = df1.drop(['SalePrice'],axis=1)
Y = df1[['SalePrice']]
Y.head()

   SalePrice
0     208500
1     181500
2     223500
3     140000
4     250000

In [77]:
from sklearn.model_selection import train_test_split
xtrain , xtest , ytrain , ytest = train_test_split(X,Y,test_size=0.25,random_state=40)

In [62]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
LR = LinearRegression()
LS = Lasso()
RD = Ridge()
EN = ElasticNet()

In [63]:
def model(model,Xtrain,xtest,ytrain):
    md = model.fit(Xtrain,ytrain)
    ypred = md.predict(xtest)
    return ypred

In [78]:
from sklearn.metrics import r2_score

LRpred = model(LR,xtrain,xtest,ytrain)
print('r2 score with Linear regression : ',r2_score(ytest,LRpred)*100,"%")

LSpred = model(LS,xtrain,xtest,ytrain)
print('r2 score with Lasso : ',r2_score(ytest,LSpred)*100,'%')

RDpred = model(RD,xtrain,xtest,ytrain)
print('r2 score with Ridge : ',r2_score(ytest,RDpred)*100,'%')

ENpred = model(EN,xtrain,xtest,ytrain)
print('r2 score with Elastic Net : ',r2_score(ytest,ENpred)*100,'%')

r2 score with Linear regression :  85.1205905199171 %
r2 score with Lasso :  85.12202616302267 %
r2 score with Ridge :  85.13410788103182 %
r2 score with Elastic Net :  85.06311010456406 %

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB
None