# python Programming

In [9]:
x=25.98
y="ohh  my goooddd"
z={1:['a','b']}

In [10]:
print(type(x),type(y),type(z))

<class 'float'> <class 'str'> <class 'dict'>

### NUmbers

In [11]:
n = 10

In [12]:
print(n+10 , n-12 , n*0.5)

20 -2 5.0

In [28]:
print(n//0.9 , round(36**0.25) , n%3)

11.0 2 1

## Boolean

In [32]:
r = True
l = False
print(type(r),type(l))

<class 'bool'> <class 'bool'>

In [33]:
print(r and l)

False

In [34]:
print(r or l)

True

In [36]:
print(not l and r)

True

In [37]:
print(l != r) #XOR gate

True

## Strings

In [57]:
s = "         hello everyone , what are you doing? i hope you're good             "
r = 'world'

In [40]:
print(s,' ',r)

hello   world

In [42]:
fmt = '{}{}  {}'.format(s,",",r)
print(fmt)

hello,  world

In [45]:
print(s.upper())

HELLO

In [50]:
print(s.capitalize())

Hello everyone , what are you doing? i hope you'r good

In [53]:
print(r.rjust(1))

world

In [60]:
print(s.replace("doing","going")) #not saved!!!!

hello everyone , what are you going? i hope you're good

In [62]:
print(len(s))

55

In [68]:
print(len(s.rstrip()))

55

In [67]:
print(s.strip())
print(s)

hello everyone , what are you doing? i hope you're good
hello everyone , what are you doing? i hope you're good

## Data Structures

#### second largest number

In [88]:
l = [3,7,'a',5,12]

In [89]:
l.append(5)
print(l)

[3, 7, 'a', 5, 12, 5]

In [79]:
last = l.pop()
print(last)

5

In [91]:
l.remove(5)

In [92]:
print(l)

[3, 7, 'a', 12, 5]

In [81]:
print(l[2:4])

['a', 5]

In [93]:
l1 = [10, 5, 8, 20, 15]
l2 = [5, 5, 5, 5, 5]
l3= [10, 10, 10, 9, 8]

In [118]:
def second(l):
    
    l=list(set(l))
    if len(l)<2:
        return None
    l.sort()

    return l[-2]

In [119]:
print(second(l1) , second(l2) , second(l3))

15 None 9

In [99]:
animals = ['cat','dog','lion','cow','rat']

In [100]:
for animal in animals:
    print(animal + " is a dangerous animal")

cat is a dangerous animal
dog is a dangerous animal
lion is a dangerous animal
cow is a dangerous animal
rat is a dangerous animal

In [101]:
for idx,animal in enumerate(animals):
    print('{} : {}'.format(idx+1 , animal))

1 : cat
2 : dog
3 : lion
4 : cow
5 : rat

In [104]:
nums = [0,1,2,3,4,5,6,7,8,9,10]
result = []
for num in nums:
    if (num**2)%2==0:
        result.append(num**2)

print(result)

[0, 4, 16, 36, 64, 100]

In [109]:
even = [x+10 for x in nums if x%3==0]
print(even)

[10, 13, 16, 19]

In [120]:
animal_dict = {'cat':"furry",'dog':"kutta"}

In [122]:
print('cat' in animal_dict)

True

In [123]:
animal_dict['lion']='bekar jaanwar'

In [125]:
print('lion' in animal_dict)
print(animal_dict['lion'])

True
bekar jaanwar

In [127]:
# if data is not there , it should give a default
print(animal_dict.get('monkey','N/A') , animal_dict.get('lion','N/A'))

N/A bekar jaanwar

In [130]:
for animal,value in animal_dict.items():
    print('{} : {}'.format(animal,value))

cat : furry
dog : kutta
lion : bekar jaanwar

In [131]:
dic = {}
for i in range(5):
    dic[i+1]=(i+1)**2

In [132]:
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [134]:
dic1 = {}
for num,sqre in dic.items():
    
    if num%2==0:
        dic1[num]=sqre

print(dic1)

{2: 4, 4: 16}

In [135]:
nums = [1,2,3,4,5,6]
sq_dict = {x:x**2 for x in nums if x%2==0}
sq_dict

{2: 4, 4: 16, 6: 36}

## SETS

In [140]:
animals = {'cats','dogs','cats'}   # are unordered , sequence can change anytime
animals

{'cats', 'dogs'}

In [139]:
print('dogs' in animals)

True

In [143]:
animals.add('Dragons'
           )

In [144]:
animals

{'Dragons', 'cats', 'dogs', 'lions'}

In [150]:
animals.add('buffelo')
for idx,animal in enumerate(animals):
    print("{} : {}".format(idx+1,animal))

1 : dogs
2 : buffelo
3 : Dragons
4 : lions
5 : cats

In [1]:
from math import sqrt

In [3]:
print({int(sqrt(x)) for x in range(50)})

{0, 1, 2, 3, 4, 5, 6, 7}

In [10]:
tup = (5,6,[3,4])
tup[2][0]=4
tup[2].append(5)

In [11]:
tup

(5, 6, [4, 4, 5])

In [13]:
D = {(x,x+1): x for x in range(20)}
t = (6,7)

In [15]:
D[(4,5)]

4

## Functions

In [71]:
Input1= "Hello world, hello Python! World of Python."
Input2= "To be or not to be, that is the question."
Input3= "a a a b b c"

In [69]:
regex=[',','!','.','?']
for i in range(len(Input1)):
    if Input1[i] in regex:
        print(Input1[i],i)
        Input1 = Input1.replace(Input1[i]," ")

print(Input1)

, 11
! 25
. 42
Hello world  hello Python  World of Python

In [70]:
def freq(Input):
    regex=[',','!','.','?']
    for i in range(len(Input)):
        if Input[i] in regex:
            Input = Input.replace(Input[i]," ")
    Input = Input.split()

    result = {}
    for word in Input:
        if word.lower() in result:
            result[word.lower()]+=1
        else:
            result[word.lower()] = 1

    return result

In [72]:
freq(Input1)

{'hello': 2, 'world': 2, 'python': 2, 'of': 1}

In [74]:
freq(Input3)

{'a': 3, 'b': 2, 'c': 1}

# CLASSES

In [78]:
class Greeater:
    # constructors
    def __init__(self,name):
        self.name = name  ## instance variable
    def greet(self,loud=False):
        if loud:
            print('HELLO, {}'.format(self.name.upper()))
        else:
            print('hello, {}'.format(self.name))

In [79]:
g = Greeater('Gaurav')
g.greet()

hello, Gaurav

In [80]:
g.greet(loud=True)

HELLO, GAURAV

In [84]:
class data:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def call(self):
        print('Hello {} , your age is : {}'.format(self.name,self.age))

In [85]:
G = data("Milan",22)

In [86]:
G.call()

Hello Milan , your age is : 22