### frequency of each word in a given paragraph

In [18]:

def regex_remove(para):
    regex = ['.',',','?','!',':']
    for i in para:
        if i in regex:
            para = para.replace(i," ")
    return para
    
def freq(para):
    lst = para.split()
    result = {}
    for word in lst:
        if word.lower()  in result.keys():
            result[word.lower()]+=1
        else:
            result[word.lower()]=1
    return result

In [19]:
para = "HI everyone this is python programme . hi everyone python para this everyone"

In [22]:
para = regex_remove(para)

In [23]:
freq(para)

{'hi': 2,
 'everyone': 3,
 'this': 2,
 'is': 1,
 'python': 2,
 'programme': 1,
 'para': 1}

## create list of tuple containing student names and marks. Sort the list in descending order of marks using LAmbda

In [25]:
data = [('Milan',98),('Roat',90),('Gaurav',95),('vadecha',99),('random',40)]

In [30]:

sorted_students = sorted(data, key=lambda x: x[1], reverse=True)

In [32]:
sorted_students

[('vadecha', 99), ('Milan', 98), ('Gaurav', 95), ('Roat', 90), ('random', 40)]

## write a prograame to flatten a nested list using recursion
data2 = [1,3,[3,5,[6,7],8],9,10]

In [36]:
data2 = [1,3,[3,5,[6,7],8],9,10] # nested list

In [80]:
print(type(data2) is int)
print(type(data2))

False
<class 'list'>

In [74]:
type(data2[0])

int

In [81]:
def flatten_list(nested_list):
    
    flattened = []
    
    for item in nested_list:
        if isinstance(item, list):
            
            flattened.extend(flatten_list(item))
        else:
            # If the item is not a list, add it directly
            flattened.append(item)
    
    return flattened

data2 = [1, 3, [3, 5, [6, 7], 8], 9, 10]


result = flatten_list(data2)

print("\nFlattened list:")
print(result)

Flattened list:
[1, 3, 3, 5, 6, 7, 8, 9, 10]